{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ],
  "plugins": [
  [
    "module-resolver",
    {
      "root": ["./"],
      "alias": {
        "components": "./components",
        "config": "./config",
        "static": "./static"
      }
    }
  ],
  [
    "inline-import",
    {
      "extensions": [".css"]
    }
  ],
  [
    "transform-md-import-to-string"
  ],
  [
    "import",
    {
      "libraryName": "antd",
      "style": false
    }
  ]
]
}
